.container {
  
    display: grid;
    grid-template-columns: 200 px 200 px
200 px;
}

.h1, h2 {
    font-size: 50%;
}

.footer .grupo-1{
    width:100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3);

}